<ion-header>
  <ion-navbar [color]="isAndroid ? 'danger' : 'secondary'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
