<ion-content>
  <form class="login" #loginForm="ngForm">

    <ion-list no-lines>

      <div padding class="logo">
        <img src="../../assets/img/login.png" alt="login">
      </div>

      <h1>Khmer University</h1>
      <p>The first application</p>

      <ion-item>
        <ion-input spellcheck="false" name="username" [(ngModel)]="user.username" type="text" placeholder="Username" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" required></ion-input>
      </ion-item>

    </ion-list>

    <ion-row responsive-sm>

      <ion-col class="col-login">
        <button ion-button block type="submit" class="btn-login" (click)="onGoToUniversity(loginForm)" icon-right round>
          <ion-icon name="md-lock"></ion-icon>&nbsp;
          Login
        </button>
      </ion-col>

      <ion-col class="col-create">
        <button ion-button block class="btn-createAccount" icon-left round (click)="onGoToCreateAccount()">
          <ion-icon name="create"></ion-icon>&nbsp;
          Create Account
        </button>
      </ion-col>

    </ion-row>

    <br><br>

    <ion-row>
      <ion-col class="col-facebook">
        <button ion-button block small class="btn-facebook" round>
          <ion-icon name="logo-facebook" end></ion-icon>&nbsp; &nbsp;
          Login with Facebook
        </button>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item>
        <ion-label>Remember me</ion-label>
        <ion-checkbox checked="false" color="danger"></ion-checkbox>
      </ion-item>
    </ion-list>

  </form>

</ion-content>
