page-login {

  h1 {
    color: chocolate;
    text-align: center;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
  }

  p {
    text-align: center;
    color: grey;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

  .logo {
    padding: 10px;
    max-width: 400px;
    max-height: 200px;
    text-align: center;
    color: #1514aa;

  }

  img {
    color: #1514aa;
  }

  .btn-login {
    background-color: #488aff;
    max-width: 100px;
    font-size: 12px;
    text-align: end;
    ion-icon {
      font-size: 30px;
      color: #32db64;
    }
  }

  .btn-createAccount {
    background-color: #32db64;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    max-width: 180px;
    font-size: 12px;

    ion-icon {
      font-size: 30px;
      color: #1514aa;
    }
  }

  .btn-facebook {
    background-color: #1514aa;
    max-width: 100%;
    font-size: 12px;
    text-align: center;
    font-family: "Roboto", "Helvetica Neue", sans-serif;

    ion-icon {
      font-size: 30px;
      color: #f4f4f4;
    }
  }
  .btn-facebook {

  }
  col-facebook {
    text-align: center;
  }

}
