<ion-tabs [selectedIndex]="myselectIndex">
  <ion-tab [root]="tab1Root" tabTitle="Khmer University" tabIcon="school"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Help" tabIcon="help-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About Us" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="build"></ion-tab>
</ion-tabs>
