<ion-header>

  <ion-navbar [color]="isAndroid ? 'danger': 'secondary'">
    <ion-title>{{getUniversityInfo?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab color="primary">
      <ion-icon name="share"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-fab color="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-fab color="vimeo">
        <ion-icon name="logo-vimeo"></ion-icon>
      </button>
      <button ion-fab color="danger">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
