<ion-header>

  <ion-navbar [color]="isAndroid ? 'danger': 'secondary'">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="uniInfo">Khmer University</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
  </ion-list>
</ion-content>
