<ion-header>

  <ion-navbar [color]="isAndroid ? 'danger' : 'secondary'">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

</ion-content>
