page-create-account {
  h2{
    text-align: center;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    color: chocolate;
  }

  .logo {
    padding: 10px;
    max-width: 400px;
    max-height: 200px;
    text-align: center;
    color: #1514aa;
  }

  .btn-email {
    background-color: #32db64;
    max-width: 5000px;
    max-height: 100px;
    text-align: center;
  }

  img {

  }

  .btn-create {
    background-color: grey;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 12px;
  }
}
