<ion-header>

  <ion-navbar [color]="isAndroid ? 'danger' : 'secondary'">

    <ion-title>Create Account</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <form class="createUsrAccount">

    <ion-list no-lines>

      <div padding class="logo">
        <img src="../../assets/img/login.png" alt="profile">
      </div>

      <h2>Welcome to University</h2>

      <ion-item>
        <ion-input placeholder="Email" class="input-email" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Username" class="input-usrName" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Password" class="input-password" type="password" required></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button class="btn-create" ion-button block round type="submit" (click)="onGoToUniversity()">Create</button>
    </div>

  </form>
</ion-content>
